<html>
    <title><%= pageTitle %></title>
    <body>
        <h1 style="color: green;"><%= WelCome %>! Compare Two excel files.</h1>
        <form method="POST" enctype="multipart/form-data" action="/excel_compare_result">
            <h3>Old Dated FilePath:</h3>
            <p><input type="file" name="odf"/></p>
            <h3>Current Dated FilePath:</h3>
            <p><input type="file" name="cdf"/></p><br/>
            <p><input name="submit" type="submit"></p>
        </form>
</body>
</html>
